<style>
  @media (max-width: 600px) {
    .mobile-padding {
      padding: 30px !important;
    }
  }
</style>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 24px 40px" class="mobile-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td
            style="
              font-weight: bold;
              font-size: 24px;
              line-height: 32px;
              color: #212121;
              font-family: Arial, sans-serif;
              padding: 0 0 24px 0;
            "
          >
            Are you looking to expand your Tech Skills? Well we got you covered.
          </td>
        </tr>
        <tr>
          <td style="padding: 0 0 24px 0">
            <img
              width="520"
              src="https://preview.soundestlink.com/image/template/v4_email_about_html.jpg"
              style="width: 100%; max-width: 100%; display: block"
            />
          </td>
        </tr>
        <tr>
          <td
            style="
              font-weight: bold;
              font-size: 24px;
              line-height: 32px;
              color: #212121;
              font-family: Arial, sans-serif;
              padding: 0 0 24px 0;
            "
          >
            We just Launched <b>🚀FREE</b> courses
          </td>
        </tr>
        <tr>
          <td
            style="
              font-size: 12px;
              line-height: 24px;
              color: #212121;
              font-family: Arial, sans-serif;
            "
          >
            Here are some of lessons you will learn
            <ul>
              <li
                style="
                  font-size: 12px;
                  line-height: 24px;
                  color: #212121;
                  font-family: Arial, sans-serif;
                  margin: 0;
                "
              >
                What is Marketing?

                <a
                  target="_blank"
                  href="https://forum.devcircleafrica.com/"
                  style="text-decoration: underline; color: #212121"
                >
                  Get guide by
                </a>
                Joining our Community
              </li>
              <li
                style="
                  font-size: 12px;
                  line-height: 24px;
                  color: #212121;
                  font-family: Arial, sans-serif;
                  margin: 0;
                "
              >
                Comparison between digital and traditional marketing
              </li>
              <li
                style="
                  font-size: 12px;
                  line-height: 24px;
                  color: #212121;
                  font-family: Arial, sans-serif;
                  margin: 0;
                "
              >
                Audience, ads, and creative practices
              </li>
              <li
                style="
                  font-size: 12px;
                  line-height: 24px;
                  color: #212121;
                  font-family: Arial, sans-serif;
                  margin: 0;
                "
              >
                How Meta Platforms Can Grow Your Business
              </li>
              <li
                style="
                  font-size: 12px;
                  line-height: 24px;
                  color: #212121;
                  font-family: Arial, sans-serif;
                  margin: 0;
                "
              >
                Introduction to Twitter
              </li>
              <li
                style="
                  font-size: 12px;
                  line-height: 24px;
                  color: #212121;
                  font-family: Arial, sans-serif;
                  margin: 0;
                "
              >
                TikTok Ads Formats
              </li>
              <li
                style="
                  font-size: 12px;
                  line-height: 24px;
                  color: #212121;
                  font-family: Arial, sans-serif;
                  margin: 0;
                "
              >
                How to get started with ADs
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td style="padding: 24px 0">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td
                  style="
                    padding: 12px 16px;
                    background-color: #097367;
                    height: 24px;
                    vertical-align: middle;
                  "
                >
                  <a
                    target="_blank"
                    href="https://lms.devcircleafrica.com/allcourses/prework-digital-ad-certificate/"
                    style="
                      font-family: Arial, sans-serif;
                      text-decoration: none;
                      color: #ffffff;
                      font-size: 14px;
                      line-height: 24px;
                    "
                  >
                    Go to Course Enroll now
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 0 6 4px 0">
            <p
              style="
                font-size: 10px;
                font-family: Arial, sans-serif;
                color: #212121;
                line-height: 16px;
              "
            >
            <!-- footer todo -->
              <a
                target="_blank"
                href="[[preference_link]]"
                style="text-decoration: underline; color: #212121"
                ></a
              >
              
              <a
                target="_blank"
                href="[[unsubscribe_link]]"
                style="text-decoration: underline; color: #212121"
                ></a
              >
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
